.listProduct {
  text-align: center;
 width: 100%;
 padding: 0.8rem;
  h4 {
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    background-color: rgb(69, 112, 122);
    border-radius: 0.3rem;
    color: rgb(255, 255, 255);
    padding: 0.3rem;
  }

  .product {  
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

  }
}
