.btnWhatsapp {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  z-index: 2;
 

  .paneluser {
    border: solid 1px;
    display: flex;
    background-color: rgba(77, 77, 77, 0.806);
    align-items: center;
    width: 97vw;
    justify-content: space-between;
    padding: 0.2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;

   

    .whatsapp { 
      padding: 0.3rem;
      background-color: rgb(234, 238, 234);
      border-radius: 50%;   
    }
  }

  .cart {
    position: relative;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: rgb(255, 255, 255);
      color: rgb(36, 32, 97);
      font-weight: 800;
      font-size: 13px;
      left: 50px;
      border-radius: 50px;
      width: 1.5rem;
    }
  }
}
